@import "tailwindcss";

/* nasconde le scrollbar in tutti i browser */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE e Edge */
  scrollbar-width: none;    /* Firefox */
}
